html, body { height: 100%; margin:0}

div.thisapp
 {
	/* dimensions */
	--thisapp_gap:								10px; /*	var(--thisapp_gap)								*/ 
	--thisapp_gap_row:							var(--thisapp_gap);
	--thisapp_gap_column:						var(--thisapp_gap);
	--thisapp_width:							100%; /*	var(--thisapp_width)							*/
	--thisapp_height:							100%; /*	var(--thisapp_height)							*/
	--thisapp_size_min:							200px; /*	var(--thisapp_size_min)							*/
	--thisapp_item_height_min:					300px; /*	var(--thisapp_height_min)						*/
	--thisapp_container_height_min:				50px; /*	var(--thisapp_container_height_min)				*/
	/* colors */
	--thisapp_color_main:		#90eea7; 		/*	var(--thisapp_color_main)				*/
	--thisapp_color_opposite:	#243E29; 		/*	var(--thisapp_color_opposite)			*/
	--thisapp_color_shadow:		#0E1B3312; 		/*	var(--thisapp_color_shadow)			*/
	/* custom */
	--thisapp_header_height_min:				50px; /*	var(--thisapp_header_height_min)				*/
	--thisapp_middle_height_min:				300px; /*	var(--thisapp_middle_height_min)				*/
	--thisapp_middle_left_width:				150px; /*	var(--thisapp_middle_left_width)				*/
	--thisapp_middle_center_width_min:			300px; /*	var(--thisapp_middle_center_width_min)				*/
	--thisapp_middle_right_width:				70px; /*	var(--thisapp_middle_right_width)				*/
	--thisapp_footer_height_min:				100px; /*	var(--thisapp_bottom_height_min)				*/
}

div.thisapp
{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap; 
	height: var(--thisapp_height);
	min-height: var(--thisapp_size_min);
	width:var(--thisapp_width);
	min-width:var(--thisapp_size_min);
}
div.thisapp,
div.thisapp > div.container,
div.thisapp > div.container > div.item
{ 
	row-gap: var(--thisapp_gap_row);
	column-gap: var(--thisapp_gap_column);
}
div.thisapp > div.container
{
	display: flex; flex-direction: row;min-height:100px;
}

div.thisapp > div.container > div.item
{
	border-radius: 5px;
	background-color: var(--thisapp_color_main);
	border: 1px solid var(--thisapp_color_opposite);
	box-sizing: border-box;
	box-shadow: 0 2px 2px var(--thisapp_color_shadow), 0 4px 4px var(--thisapp_color_shadow), 0 8px 8px var(--thisapp_color_shadow), 0 16px 16px var(--thisapp_color_shadow); 
}

div.thisapp > div.container > div.item
{

}

div.thisapp > div.container > div.item
{ 
	flex-grow: 1; /* Grow and stretch all items */
	/* grow and stretch must be disabled to set custom width, use "flex-grow:unset" before setting the width  */
}

div.thisapp > div.middle
{
	flex: 1; /* stretch vertically */
}

/* custom */
div.thisapp > div.header
{
	flex-grow:unset;min-height:50px;
}

div.thisapp > div.middle > div.left
{
	flex-grow:unset;min-width:50px;width:150px;
}

div.thisapp > div.middle > div.right
{
	flex-grow:unset;min-width:50px;width:150px;
}
